.main {
  height: calc(100vh - 211px);
  margin: 20px;
  //display: grid;
}
.scrollFortTable {
  max-height: 76vh;
  overflow-y: scroll;
}

.scrollFortTableAudit {
  max-height: 70vh;
  overflow-y: scroll;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
