.obligatoryField {
  color: #FF0000;
}
.navbar {
  background-color: rgba(94, 94, 94, 1);
}

.navbar-brand {
  color: #f8f9fa;
}
.btn-group {
  //right: 13px;
  margin-left: 10px;
  margin-right: 10px;
}
