html,
body {
  margin: 0;
  height: 100vh;
}

body {
  min-width: 780px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ecf0f1;
}

.btn,
input,
select {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

a {
  cursor: pointer;
}

.red {
  color: red;
}

.green {
  color: green;
}
